body {
  font-family: Arial;
  background: #ffffff00;
  background-image: url(https://www.nescafe.com/au/sites/default/files/styles/image_webp_conversion/public/2024-04/Untitled-5%20copy_6_0.jpg.webp?itok=lpF7h0H0);
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.chat-container {
  width: 520px;
  background: rgb(68, 43, 13);
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 0 100px rgba(0,0,0,0.7);
}

#chat-box {
  height: 440px;
  overflow-y: auto;
  border: 4px solid #00000085;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.user {
  font-family: 'Poppins';
  text-align: right;
  margin: 5px;
  color: rgb(255, 255, 255);
}

.bot {
  font-family: 'Poppins';
  text-align: left;
  margin: 5px;
  color: rgb(31, 157, 151);
}

.input-area {
  background-color: rgb(68, 43, 13);
  display: flex;
}

input {
  color:rgb(0, 0, 0);
  border-radius: 15px;
  flex: 1;
  padding: 5px;
}

button {
  color:rgb(255, 255, 255);
  background-color: #000000b4;
  padding: 5px 10px;
  border-radius: 15px;
}

input, button {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins';
  color: #ffffff;
  text-align: center;
  margin-bottom: 18px;
}

input::placeholder {
  font-family: 'Poppins', sans-serif;
  color: #777;
}